@import "../../node_modules/bootstrap/scss/bootstrap";


* {
    font-family: 'Questrial', sans-serif;
}


// NAVIGATION BAR
a.navbar-brand, a.nav-link  {
    color: white;
    &:hover {
        color: #B43022;
        transform: scale(1.1);
    }
}

.navbar {
    background-color: black;
    font-size: .8em;
    
}

.navbar-toggler {
    border-color: white;
}

span.navbar-toggler-icon {
    color: white;
}

// FOOTER
footer > .about-dev {
    background-color: #717b84;
}

.pattyro {
    font-family: 'Parisienne', cursive;
}


//  CAROUSEL PHOTO IN HOME
.carousel-photo {
    height: 500px;
    object-fit: cover;
}

p.carousel-title {
    font-size: 1.5em;
}


a.carousel-button {
    text-decoration: none;
    color: white;
}
////////////////////////////////////////////////////

.card {
    min-height: 250px;
}

.title  {
    font-size: 2rem;
}


.carousel-caption {
    width:200px;
    z-index:10;
    color:#fff;
    text-align:center;
    top:50%;
    left:65%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

.artist-photo {
    // display: block;
    max-width: 100%;
    height: 600px;
}

.shows {
    border-radius: 50%;
}

//ABOUT




// ARTIST-PAGE

#artist-description {
    width: 15em;
    height: 15em;
    &:hover {
        color: white;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 0 5px black;
        text-shadow: 0 0 5px black;
        box-shadow: 0 0 15px black;
    }

}

.title-artist-description {
    font-size: 2rem;
}


// GALLERY
#daloy-gallery {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    &:hover {
        color: white;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 0 5px black;
        text-shadow: 0 0 5px black;
        box-shadow: 0 0 15px black;
    }
    

}

// CONTACT

.googlemap{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.googlemap iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
